<ion-header>
  <custom-logged-header></custom-logged-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Usuários
      </ion-segment-button>
      <ion-segment-button value="books">
        Meus livros
      </ion-segment-button>
      <ion-segment-button value="allBooks">
        livros
      </ion-segment-button>
      <ion-segment-button value="schools">
        Escolas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="view">

    <ion-list *ngSwitchCase="'chats'" no-lines>
      <button ion-item *ngFor="let chat of chats | async" (click)="onChatOpen(chat)">
        <ion-avatar item-start>
          <img [src]="chat.photo || 'assets/imgs/no-photo.jpg'">
        </ion-avatar>
        <h2>{{ chat.title }}</h2>
        <p *ngIf="chat.lastMessage; else customMessage">{{ chat.timestamp | date:'dd/MM/y H:mm' }} - {{ chat.lastMessage }}</p>
        <ng-template #customMessage>
          <p>No messages</p>
        </ng-template>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'users'" no-lines>
      <button ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)">
        {{ user.name }}
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'books'" no-lines>
      <ion-searchbar [(ngModel)]="terms"></ion-searchbar>

      <button ion-item *ngFor="let book of books | async | search: terms" detail-push navPush="BookProfilePage" [navParams]="{book: book}">
        {{ book.title }}
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'allBooks'" no-lines>
      <ion-searchbar [(ngModel)]="terms"></ion-searchbar>

      <ion-item ion-item *ngFor="let book of allBooks | async | search: terms">
        {{ book.title }}
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'schools'" no-lines>
      <button ion-item *ngFor="let school of schools | async" (click)="onSchoolClick()">
        {{ school.name }}
      </button>
    </ion-list>
  </div>

</ion-content>